<a href="#" class="ce-products__item">
    <div class="ce-products__item-header">
        <div class="ce-products__item-sale">
            <span>Акция</span>
        </div>
        <div class="ce-products__item-hit">
            Хит продаж
        </div>
        <div class="ce-products__item-title">
            <b>bridgestone</b>
            <span>blizzak LM-25</span>
        </div>
        <ul class="ce-products__item-icons">
            <li>
                <img src="images/product/winter-icon.png" alt="">
            </li>
            <li>
                <img src="images/product/winter-icon.png" alt="">
            </li>
        </ul>
        <div class="ce-products__item-image" "><!--style="background-image: url('../images/product/product-img.png');-->

        </div>
    </div>
    <div class="ce-products__item-stars">
        <select class="ce-rating">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4" selected></option>
            <option value="5"></option>
        </select>
    </div>
    <div class="ce-products__item-tags">
        <div class="ce-products__item-tag">
            255/50 R19
        </div>
        <div class="ce-products__item-tag ce-products__item-tag--border">
            107
        </div>
        <div class="ce-products__item-tag ce-products__item-tag--border">
            H
        </div>
        <div class="ce-products__item-tag ce-products__item-tag--border">
            RunFlat
        </div>
    </div>
    <div class="ce-products__item-tags">
        <div class="ce-products__item-tag ce-products__item-tag--border ce-products__item-tag--energy">
            E
        </div>
        <div class="ce-products__item-tag ce-products__item-tag--border ce-products__item-tag--rain">
            C
        </div>
        <div class="ce-products__item-tag ce-products__item-tag--border ce-products__item-tag--sound">
            72dB
        </div>
        <div class="ce-products__item-tag ">
            <img src="images/icons-png/bmw-icon.png" alt="">
        </div>
    </div>
    <div class="ce-products__item-body">
        <div class="ce-products__item-body-block">
            <div class="ce-products__item-code">Код:
                <span>26723</span>
            </div>
            <div class="ce-products__item-status">В наличии</div>
        </div>
        <div class="ce-products__item-body-block">
            <div class="ce-products__item-oldprice">1500 грн</div>
            <div class="ce-products__item-price">1129 грн</div>
        </div>
    </div>
    <div class="ce-products__item-controls">
        <div class="ce-products__item-fastorder">
            Быстрый заказ
        </div>
        <div class="ce-products__item-basket">
            <button class="ce-button">
                В корзину
                <svg class="ce-icon">
                    <use xlink:href="images/svg/symbols.svg#svg-shopping-cart"></use>
                </svg>
            </button>
        </div>
    </div>
</a>